.input_panel{
    margin: 10px 0 10px 30px;
    width: 300px;
}
.input_panel .input_item{
    display: flex;
}
.input_panel .list_item{
    margin-top: 20px;
}
.ant-input{
    margin-right: 20px;
}
.ant-btn{}